extends ../layout/common

block content
  h1 Manager Transaction In System 
  p Please choose one option :
  a(href="/transaction/list") View all transactions
  br
  br
  a(href="/transaction/create") Create Transaction 
  br
  br
  a(href="/") Back
