h1 User List
a(href="/book/create") Add New Book into System
br
br
p Search book by name:
form(action="/book/search", method="GET")
    input(type="text",name="q")
    button Search
ul
    each book in books
        li
            span= book.title
            span &nbsp;
                a(href="/book/"+ book.id) View
            span &nbsp;
                a(href="/book/"+ book.id+"/delete") Delete Book
            span &nbsp;
                a(href="/book/"+ book.id+"/update") Edit Book