h1 UPDATE BOOK BY ID

form(action="/book/"+ book.id +"/update",method="POST")
    label Title :
    span &nbsp
    input(type="text", name="title_u", value= book.title)
    br
    label Description :
    br
    textarea(name="des_u")=book.des
    br
    br
    button UPDATE