h1 View Detail Book

p 
    b ID-book: 
    span &nbsp
    span= book.id
    br
    br
    b Title:
    span &nbsp
    span= book.title
    br
    br
    b Description:
    span &nbsp
    span= book.des