h1 View Detail User

p 
    b ID-User: 
    span &nbsp
    span= users.id
    br
    br
    b User Name:
    span &nbsp
    span= users.name
    br
    br
    b Telephonenumber:
    span &nbsp
    span= users.tel
br
br
a(href="/user/list") Back