extends ../layout/common

block content
  h1 Manager Book In System 
  p Please choose one option :
  a(href="/book/list") View all book
  br
  br
  a(href="/book/create") Add New Book 
  br
  br
  a(href="/book/edit") Edit  book
  br
  br
  a(href="/book/delete") Delete  book
  br
  br
  a(href="/") Back
