extends ./layout/common

block content
    h1 #{name}
    br
    br
    span Manage book
    span &nbsp
    span &nbsp
    a(href="/book") Start ->
    br
    span Manage user
    span &nbsp
    span &nbsp
    a(href="/user") Start ->
    br
    span Manage transaction
    span &nbsp
    span &nbsp
    a(href="/transaction") Start ->


