extends ../layout/common

block content
  h1 Manager Transaction In System 
  main#main
      h1.ui.center.aligned.header List transaction in system
      .ui.container
        table.ui.celled.table.center.aligned
          thead
            tr
              th ID Transaction
              th UserName
              th Title
              th Status
              th  
          tbody
            each tran in trans
              tr
                td #{tran.id}
                td= users.find(x => x.id === tran.userId).name
                td= books.find(x => x.id === tran.bookId).title
                td= (tran.isComplete == true)?'Complete' :'Renting'
                td 
                  a(href="/transaction/edit/"+ tran.id) Edit

          tfoot
            tr
              th(colspan='5')

  a(href="/transaction/") Back
