h1 Delete User
br
P Search user by name
form(action="/user/search", method="GET")
    input(type="text",name="q")
    button Search
ul
    each user in users
        li
            span= user.name
            span &nbsp;
                a(href="/user/delete/"+ user.id) Delete
a(href="/user/") Back