extends ../layout/common

block content
  h1 Manager User In System 
  p Please choose one option :
  a(href="/user/list") View all users
  br
  br
  a(href="/user/create") Add New User 
  br
  br
  a(href="/user/edit") Edit User
  br
  br
  a(href="/user/delete") Delete Users
  br
  br
  a(href="/") Back
